<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
	
		<header>
			<nav>
				<ul>
					<li>
						Classes
					</li>
					<li>
						Hire Us
					</li>
				</ul>
				<h3>lg</h3>
				<form action="">
						<input type="button" value="Donate">
				</form>
			</nav>
		</header>
		<main>
			<section class="clear">
				<h1>Where GRIT MEETS OPPORTUNITY</h1>
				<P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, laudantium ut illum veniam praesentium reprehenderit, neque laboriosam voluptatibus voluptates quidem iusto ipsa architecto adipisci corrupti dicta provident repellat? Illo, distinctio!</P>
				<a href="#">Watch the video</a>
			</section>
		</main>
		<section class="secondSection">
			<h2>WHY</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore alias pariatur repellendus dolorum, qui delectus ducimus provident amet voluptate sapiente quo itaque odio voluptatem doloribus rem, ad nemo velit veritatis.</p>

		</section>
		<div class="third">
			<section class="thirdSection">
			<section class="t1">
				<div></div>
				<h4>Visit the gym</h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita placeat corporis incidunt perferendis, aspernatur modi recusandae maiores blanditiis nulla et quod obcaecati harum cumque laboriosam cupiditate nihil. Blanditiis, laborum.</p>
				<button>See Classes</button>
			</section>
			<section class="t2">
				<div></div>
				<h4>Have us visit you</h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita placeat corporis incidunt perferendis, aspernatur modi recusandae maiores blanditiis nulla et quod obcaecati harum cumque laboriosam cupiditate nihil. Blanditiis, laborum.</p>
				<button>Hire us</button>
			</section>
		</section>
		</div>
		
		<section class="clear forthSection">
			<h2>Volutnteer with level ground</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempora corrupti fugiat provident iusto dignissimos repellendus voluptatem ipsam totam earum! Eos iure quibusdam aspernatur amet alias iusto cumque blanditiis delectus?</p>
			<button>Volunteer</button>
		</section>
		<footer>
			<section class="left">
				<section>
				<a href=""><img src="" alt="">fb</a>
				<a href=""><img src="" alt="">tw</a>
				<a href=""><img src="" alt="">mail</a>
			</section>
			<section>
				<h5>SITE MAP</h5>
				<a href="#">Classes</a>
				<a href="#">Hire US</a>
			</section>
			<section>
				<h5>Contribute</h5>
				<a href="#">Give</a>
				<a href="#">Volunteer</a>
			</section>
			</section>
			<section class="right">
				<h5>Level ground Mixed Martial Arts</h5>
				<address>
				50 Milk street, floor 17, Boston, MA, 02109 <br>
				410-533-2210 <br>
				<a href="mailto:jhajksad@gmail.com">Ali@levelgroundmma.org</a>
				</address>
			</section>
			<hr class="clear">
			<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab minus laboriosam odio necessitatibus explicabo rem expedit</h5>
		</footer>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
